/* Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header + Navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 40px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .logo {
    text-decoration: none;
    color: white;
}

.main-nav .logo:hover {
    color: #E8A020;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-nav ul li {
    list-style: none;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
}

.main-nav ul li a:hover {
    color: #E8A020;
}

/* Footer */
.footer {
    position: relative;
    z-index: 1;

    text-align: center;
    padding: 20px;
    color: white;
}

    /* Index.html Styling */

.home-page .hero {
    padding: 20px 40px;
    width: 100%;
    height: 100vh;

    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230126163353-01-john-mayer-announces-acoustic-tour.jpg?c=16x9&q=h_653,w_1160,c_fill/f_avif);
    background-size: cover;
    background-position: center;

    color: white;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-page .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0.5;
    z-index: 0;
}

/* Hero content */
.home-page .hero-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: auto 0;
    top: 50px
}

.hero-content p {
    font-size: 1.1em;
}

/* Button */
.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    text-decoration: none;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
}

    /* Events.html Styling */
.events-page h1 {
    color: white;
}

.events-page .hero-content .btn{
    text-decoration: none;
    color: gray;
}

.events-page .hero {
    padding: 20px 40px;
    width: 100%;
    height: 100vh;

    color: gray;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-page .hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 80px;
}

.events-page .date-times-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.events-page .hero::before {
    content: "";
    position: absolute;
    inset: 0;


    background-size: cover;
    background-position: center;

    background-image: url(https://www.mixonline.com/wp-content/uploads/2023/11/2023-11-29-meyer1.jpg);
    filter: grayscale(100%);
    z-index: 0;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.events-page .date-times {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    top: 40px;
}

.date-times:hover .date,
.date-times:hover .time {
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.events-page .btn-container .btn:hover {
    color: #E8A020;
}